.about {
  display: flex;
  background-color: #fff5f6;
  padding-bottom: 20px;
  align-items: center;
  justify-content: center;
  background-image: url(/src/images/about-mobile/milk-mob-1x.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: 80%;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(/src/images/about-mobile/milk-mob-2x.png);
  }

  @include tablet {
    background-image: none;
  }

  @include desktop {
    background-image: url(/src/images/about-desk/milk-desk-1x.png);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(/src/images/about-desk/milk-desk-2x.png);
    }
  }
}

.about__img {
  width: 100%;

  @include desktop {
    width: 501px;
    margin-right: 100px;
  }
}

.about__pre-title {
  font-family: 'Titan One';
  font-weight: 400;
  font-size: 18px;
  line-height: calc(21px / 18px);
  text-align: center;
  text-transform: uppercase;
  color: #ffa5ba;
  margin-bottom: 15px;
}

.about__description {
  font-family: 'DM Sans';
  font-weight: 500;
  font-size: 12px;
  line-height: 162%;
  color: #000000;
  margin-bottom: 40px;
  min-width: 220px;

  @include tablet {
    font-size: 14px;
    line-height: 176%;
  }

  @include desktop {
    font-size: 16px;
    line-height: 176%;
    letter-spacing: 0.04em;
    margin-bottom: 32px;
  }
}

.about__text {
  font-family: 'DM Sans';
  font-weight: 500;
  font-size: 12px;
  line-height: 162%;
  color: #907e82;
  margin-bottom: 10px;
  min-width: 220px;

  @include tablet {
    font-size: 14px;
    line-height: 176%;
    letter-spacing: 0.04em;
  }
}

.about-description__wrap {
  text-align: left;
  width: 100%;

  @include tablet {
    margin-left: 32px;
  }
}

.about__btn {
  background: #ffffff;
  border-color: transparent;
  border-radius: 22px;
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #d41443;
  padding: 9px 37px;
  margin-top: 20px;
  transition: background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background: #ecebeb;
  }

  @include tablet {
    margin-top: 40px;
  }

  @include desktop {
    margin-bottom: 40px;
  }
}

.about__icon {
  margin-left: 14px;
}

.about-content__wrap {
  @include tablet {
    display: flex;
    margin-top: 40px;
    width: 100%;
    align-items: center;
  }
}
