.section {
  padding-bottom: 40px;
}
.contacts-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.contacts-list__item {
  padding: 40px 32px;
  max-width: 280px;
  background: #ffffff;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;

  &:last-child {
    margin-bottom: 32px;
  }
}
.contacts-btn {
  font-family: 'DM Sans';
  @include font(700, 16px, 1.31, null);
  border: none;
  border-radius: 20px;
  padding: 9px 17px;
  background-color: $second-color;
  color: $first-color;
}
.btn-second {
  background-color: $first-color;
  color: $second-color;
}

.contacts-list__link {
  color: currentColor;
}

.btn-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
