.reviews__title {
  display: none;
}

.section.reviews{
   background-image: none;
    padding-bottom: 0;
    padding-top: 60px;
 
}
.slick-list {
  overflow: hidden;
}
/* Лента слайдов */
.slick-track {
  display: flex;
  align-items: flex-start;
}

/* Точки (булиты) */
.slick-dots {
  padding: 0;
}


.reviews__slider .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}
.reviews__slider .slick-dots li {
  list-style: none;
  margin-right: 18px;
}

.reviews__slider .slick-dots li:last-child {
  margin-right: 0;
}

.reviews__slider .slick-dots li button {
  font-size: 0;
  padding: 0;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #d9d9d9;
}

.reviews__slider .slick-dots li.slick-active button {
  background-image: url(../images/reviews/home.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  border-radius: 0;
}
.reviews__item {
  text-align: center;
}
.reviews__photo {
  width: 85px;
  height: 85px;
  margin-bottom: 33px;
  margin-left: auto;
  margin-right: auto;
 
}

.reviews__wrap {
 
  background-color: #fafafa;
  position: relative;
  width: 100%;
  padding: 42px 60px 27px;
  margin-bottom: 15px;
 
}

.reviews__wrap::before {
  content: '';
  display: block;
  width: 54px;
  height: 40px;
  background-image: url(../images/reviews/quote.svg);
  fill: #e1e1e1;
  position: absolute;
  top: 28px;
  left: 55px;

}

// .reviews__row{
//   background: repeating-linear-gradient(
//     #E1E1E1 0px, #E1E1E1 1px, 
//     #FAFAFA 0px,  #FAFAFA 31px
//    );
  
// }
.reviews__text {
  font-weight: 500;
 font-size: 12px;
 line-height: 2.59;
 
}
.reviews__text::after{
   background: repeating-linear-gradient(
    #E1E1E1 0px, #E1E1E1 1px, 
    #FAFAFA 0px,  #FAFAFA 31px
   );
}
.reviews__dot {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #c7133e;
  margin-bottom: 16px;
}
.reviews__dot::after {
  content: '';
  position: absolute;
  left: 0;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #c7133e;
  margin-left: 10px;
}

.reviews__dot::before {
  content: '';
  position: absolute;
  right: 0;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #c7133e;
  margin-right: 10px;
}
.reviews__name {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.86;
  margin-bottom: 16px;
}
