.header {
  @include mobile {
    position: fixed;
    top: 0;
    left: 0;
    background-color: transparent;
    z-index: 2;
  }
  @include tablet {
    padding-top: 32px;
    display: flex;
  }
  @include desktop {
    padding-top: 37px;
    display: flex;
  }
}

.wrap-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 8px;

  @include tablet {
  }
  @include desktop {
    justify-content: flex-start;
    align-items: center;
  }
}

.nav {
  margin-left: 128px;
}

.logo {
  display: inline-block;
  width: 199px;
  height: 50px;
}

.site-nav {
  display: none;
  @include desktop {
    display: flex;

    .site-nav__link.current {
      color: $second-color;
    }
  }
}

.site-nav__item {
  height: 50px;
  &:not(:last-child) {
    margin-right: 35px;
  }
}

.order-link-wrap {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.order-link {
  display: none;
  @include tablet {
    display: inline;
    text-align: center;
    padding: 10px 0;
    width: 159px;
    min-height: 44px;
    border-radius: 22px;
    background-color: $first-color;
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;
    align-items: center;
    justify-content: center;
    color: $second-color;
  }
  @include desktop {
    display: inline-block;
    text-align: center;
    padding: 10px 0;
    margin-left: auto;
    width: 159px;
    min-height: 44px;
    border-radius: 22px;
    background-color: $first-color;
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;
    align-items: center;
    justify-content: center;
    color: $second-color;
  }
}

.site-nav__link {
  display: block;
  min-height: 50px;
  padding: 15px 0;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  color: $first-color;
}
