.hero {
  background-color: #ffb8ca;
  position: relative;
  height: 502px;
  overflow: hidden;

  @include tablet {
    height: 416px;
  }
}

.hero__title {
  font-family: 'Titan One', sans-serif;
  @include font(400, 26px, 1.15, 0.04em);
  text-transform: uppercase;
  color: #fff;

  @include tablet {
    font-size: 22px;
  }
}

.hero__text-btns {
  position: absolute;
  z-index: 1;

  margin-top: 194px;

  @include tablet {
    margin-top: 102px;
  }
}

.accent-logo {
  color: #d41443;
  @include font(null, 48px, 0.96, null);

  @include tablet {
    font-size: 34px;
  }
}

.hero__btn {
  font-family: 'DM Sans';
  @include font(null, 8px, 1.25, null);

  border: none;
  border-radius: 20px;
  padding: 9px 14px;

  background-color: #fff;
  color: #d41443;
}

.hero__btn--products {
  background-color: #d41443;
  color: #fff;
}

.hero-button {
  position: absolute;
  display: flex;
  margin-top: 20px;
  gap: 8px;

  @include tablet {
    gap: 9px;
  }
}

.hero-circle-first {
  content: '';
  position: absolute;
  top: 83px;
  left: 36px;

  @include tablet {
    top: 43px;
    left: 248px;
  }

  width: 345px;
  height: 345px;
  border-radius: 50%;
  background-color: #ffa5ba;

  @media screen and(min-width: 426px) and (max-width: 767.98px) {
    left: 50%;
    transform: translateX(-50%);
  }
}

.hero-circle-first__ice-cream {
  position: absolute;
  top: 9px;
  left: 81px;

  @include tablet {
    top: 37px;
    left: 74px;
  }
}

.hero-circle-second,
.hero-circle-third {
  @include mobile-only {
    display: none;
  }
}

.hero-circle-second__milk {
  position: absolute;
  @include tablet {
    bottom: 16px;
    left: 32px;
  }
}

.hero-circle-third__tasty {
  position: absolute;
  @include tablet {
    bottom: 0;
    right: 32px;
  }
}
