.hero {
  background-color: #ffb8ca;

  position: relative;
  height: 502px;
  overflow: hidden;

  @include tablet {
    height: 416px;
  }
}

.hero-container {
  @include tablet {
    position: relative;
    width: 100%;
    height: 416px;
  }
}
.hero__title {
  font-family: 'Titan One', sans-serif;
  @include font(400, 26px, 1.15, 0.04em);
  text-transform: uppercase;
  color: #fff;

  @include tablet {
    font-size: 22px;
  }
}

.hero__text-btns {
  position: absolute;
  z-index: 1;

  margin-top: 194px;

  @include tablet {
    margin-top: 102px;
  }
}

.accent-logo {
  color: #d41443;
  @include font(null, 48px, 0.96, null);

  @include tablet {
    font-size: 34px;
  }
}

.hero__btn {
  font-family: 'DM Sans';
  @include font(null, 8px, 1.25, null);

  border: none;
  border-radius: 20px;
  padding: 9px 14px;

  background-color: #fff;
  color: #d41443;
}

.hero__btn--products {
  background-color: #d41443;
  color: #fff;
}

.hero-button {
  position: absolute;
  display: flex;
  margin-top: 20px;
  gap: 8px;

  @include tablet {
    gap: 9px;
  }
}

.hero-circle {
  position: absolute;
  top: 83px;
  left: 36px;

  width: 345px;
  height: 345px;
  border-radius: 50%;
  background-color: #ffa5ba;

  @media screen and(min-width: 426px) and (max-width: 767.98px) {
    left: 50%;
    transform: translateX(-50%);
  }

  @include tablet {
    top: 43px;
    left: 216px;

    width: 335px;
    height: 335px;
  }
}

.hero-circle__ice-cream {
  position: absolute;
  top: 9px;
  left: 81px;

  @include tablet {
    top: 37px;
    left: 74px;

    width: 143px;
    height: 336px;
  }
}

.hero-circle__milk {
  @include mobile-only {
    display: none;
  }

  @include tablet {
    position: absolute;
    bottom: 16px;
    left: 0;
  }
}

.hero-circle__tasty {
  @include mobile-only {
    display: none;
  }
  @include tablet {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

.hero-counter-list {
  @include mobile-only {
    display: none;
  }
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 16px;
  padding-top: 92px;
}

.hero-counter__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: end;

  position: relative;
  width: 43px;
  height: 44px;

  &:last-child {
    width: 51px;
  }
}

.hero-counter__meta {
  font-family: 'Titan One', sans-serif;
  @include font(400, 28px, 1.14, 0.04em);
  color: $second-color;
}

.hero-counter__text {
  font-family: 'DM Sans', sans-serif;
  @include font(400, 8px, 1.25, null);
  color: $first-color;
}

.hero-counter__circle {
  position: absolute;
  top: 0;
  right: 0;
  width: 16px;
  height: 16px;

  border-radius: 50%;
  background-color: #fff;
}

.meta-text {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.hero-description {
  display: flex;
  flex-direction: column;

  max-width: 114px;
  margin-top: 92px;
  margin-left: 184px;
}

.hero-description__text {
  color: $first-color;
  font-family: 'DM Sans', sans-serif;
  @include font(400, 8px, 1.5, null);

  margin-bottom: 7px;
}

.hero-description__btn {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0;
  margin-bottom: 7px;

  cursor: pointer;

  width: 18px;
  height: 18px;
  border: 0px;
  border-radius: 50%;
  background-color: #ffffff;

  @include transitions(background-color);

  &:hover,
  &:focus {
    background-color: #aaaaaa;
  }

  & .icon-arrow-close {
    display: none;
  }

  &.is-open .icon-arrow-close {
    display: block;
  }
  &.is-open .icon-arrow-open {
    display: none;
  }
}

.hero-description__text-hidden {
  color: $first-color;
  font-family: 'DM Sans', sans-serif;
  @include font(400, 8px, 1.5, null);
}
