.menu-btn-wrap {
  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  top: 15px;
  right: 20px;
  z-index: 2;

  width: 35px;
  height: 35px;
  background-color: rgba(255, 184, 202, 0.5);
  border-radius: 50%;

  @include tablet {
    position: static;
  }

  @include desktop {
    display: none;
  }
}

.menu-btn {
  // position: fixed;
  // top: 19px;
  // right: 20px;
  // z-index: 2;
  padding: 0;
  border: none;
  border-color: transparent;
  background-color: transparent;

  @include tablet {
    position: static;
  }

  @include desktop {
    display: none;
  }
}

.mob-menu-close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
}

// .menu-close-btn:hover .current {
//   color: #212121;
// }

.mob-menu-wrap {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
  // width: 100vw;
  // height: 100vh;
  // background-color: rgba($color: #000000, $alpha: 0.2);
  transition: opacity 300ms linear, visibility 300ms linear;

  @include tablet {
    width: 40%;
    height: 1020px;
  }
}

.mob-menu {
  padding-top: 60px;
  width: 100vw;
  height: 100vh;
  background-color: #e17992;
  z-index: 2;
  transform: translateX(0);
  transition: transform 300ms linear;
  overflow: auto;

  @include tablet {
    padding-top: 60px;
    width: 100%;
    height: 1020px;
    overflow: auto;
  }
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.mob-menu-wrap.is-hidden {
  & .mob-menu {
    transform: translateX(100%);
    transition: transform 300ms linear;
  }
}

.mob-menu-wrap .mob-menu__link {
  display: flex;
  width: 100%;
  min-height: 44px;
  border-radius: 22px;
  background-color: $first-color;
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  align-items: center;
  justify-content: center;
  color: $second-color;

  &::after {
    content: '';
    width: 10px;
    height: 10px;
    margin-left: 14px;
    background-image: url(../images/arrow.svg);
    background-repeat: no-repeat;
  }
}

.mob-menu__list {
  margin-top: 19px;
}

.mob-menu__list-item {
  border-top: 1px solid #e18298;
  border-bottom: 1px solid #e18298;
}

.current {
  color: $second-color;
}
