<section class="container reviews">
    <h2 class="reviews__title">Customer Reviews</h2>


    <div class="reviews__slider">

        <div class="reviews__item">
       <!-- <img src="./photo1-1x .jpg" alt="photo1" class="reviews__photo"> -->
    <p class="reviews__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
    <p class="reviews__name">Emily, Los Angeles</p> 
</div>
   
        <div class="reviews__item">
    <!-- <img src="./photo2-1x .jpg" alt="photo2" class="reviews__photo"> -->
    <p class="reviews__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.</p>
    <p class="reviews__name">Emily, Los Angeles</p> 
        </div>
    

    </div>


</section>

<!-- Скрипты, которые необходимо подключть -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="./js/slick.min.js"></script>
<script src="./js/slider.js"></script>