<footer class="footer">
    <div class="container">
        <div class="footer__head">
            <p class="footer__head-title">homemade ice cream made</h2>
            <p class="footer__head-after-title">with passion</p>
        </div>
        <div class="contact">
            <p class="contact">free to contact </p>
            <a href="+61(0)383766284"> +61 (0) 383 766 284 </a> 
        </div>
        <div>
            <p>© 2022 - IceCream.</p>
            <p>All Rights Reserved.</p>
        </div>
    </div>
</footer>
