<section class="gallery section">
  <div class="wrapper container">
    <ul class="masonry list">
      <li class="masonry__item">
        <picture>
          <!-- <source
            srcset="./img/img@1x-desctop.jpg 1x, ./img/img@2x-desctop.jpg 2x"
            media="(min-width: 1200px)"
          />

          <source
            srcset="./img/img@1x-tablet.jpg 1x, ./img/img@2x-tablet.jpg 2x"
            media="(min-width: 768px)"
          /> -->
          <source
            srcset="./images/@1x-mob-1.jpg 1x, ./images/@2x-mob-1.jpg 2x"
            media="(min-width: 320px)"
          />
          <img src="./images/@1x-mob-1.jpg" alt="ice-cream-1" width="44" />
        </picture>
      </li>
      <li class="masonry__item">
        <picture>
          <!-- <source
            srcset="./img/img@1x-desctop.jpg 1x, ./img/img@2x-desctop.jpg 2x"
            media="(min-width: 1200px)"
          />

          <source
            srcset="./img/img@1x-tablet.jpg 1x, ./img/img@2x-tablet.jpg 2x"
            media="(min-width: 768px)"
          /> -->
          <source
            srcset="./images/@1x-mob-2.jpg 1x, ./images/@2x-mob-2.jpg 2x"
            media="(min-width: 320px)"
          />
          <img
            src="./images/@1x-mob-2.jpg"
            alt="ice-cream-2"
            width="44"
            class="top-image"
          />
        </picture>
        <picture>
          <!-- <source
            srcset="./img/img@1x-desctop.jpg 1x, ./img/img@2x-desctop.jpg 2x"
            media="(min-width: 1200px)"
          />

          <source
            srcset="./img/img@1x-tablet.jpg 1x, ./img/img@2x-tablet.jpg 2x"
            media="(min-width: 768px)"
          /> -->
          <source
            srcset="./images/@1x-mob-3.jpg 1x, ./images/@2x-mob-3.jpg 2x"
            media="(min-width: 320px)"
          />
          <img src="./images/@1x-mob-3.jpg" alt="ice-cream-3" width="44" />
        </picture>
      </li>
      <li class="masonry__item">
        <picture>
          <!-- <source
            srcset="./img/img@1x-desctop.jpg 1x, ./img/img@2x-desctop.jpg 2x"
            media="(min-width: 1200px)"
          />

          <source
            srcset="./img/img@1x-tablet.jpg 1x, ./img/img@2x-tablet.jpg 2x"
            media="(min-width: 768px)"
          /> -->
          <source
            srcset="./images/@1x-mob-4.jpg 1x, ./images/@2x-mob-4.jpg 2x"
            media="(min-width: 320px)"
          />
          <img
            src="./images/@1x-mob-4.jpg"
            alt="ice-cream-4"
            width="90"
            class="top-image"
          />
        </picture>
        <picture>
          <!-- <source
            srcset="./img/img@1x-desctop.jpg 1x, ./img/img@2x-desctop.jpg 2x"
            media="(min-width: 1200px)"
          />

          <source
            srcset="./img/img@1x-tablet.jpg 1x, ./img/img@2x-tablet.jpg 2x"
            media="(min-width: 768px)"
          /> -->
          <source
            srcset="./images/@1x-mob-5.jpg 1x, ./images/@2x-mob-5.jpg 2x"
            media="(min-width: 320px)"
          />
          <img src="./images/@1x-mob-5.jpg" alt="ice-cream-5" width="44" />
        </picture>
      </li>
      <li class="masonry__item">
        <picture>
          <!-- <source
            srcset="./img/img@1x-desctop.jpg 1x, ./img/img@2x-desctop.jpg 2x"
            media="(min-width: 1200px)"
          />

          <source
            srcset="./img/img@1x-tablet.jpg 1x, ./img/img@2x-tablet.jpg 2x"
            media="(min-width: 768px)"
          /> -->
          <source
            srcset="./images/@1x-mob-6.jpg 1x, ./images/@2x-mob-6.jpg 2x"
            media="(min-width: 320px)"
          />
          <img
            src="./images/@1x-mob-6.jpg"
            alt="ice-cream-6"
            width="44"
            class="top-image"
          />
        </picture>
        <picture>
          <!-- <source
            srcset="./img/img@1x-desctop.jpg 1x, ./img/img@2x-desctop.jpg 2x"
            media="(min-width: 1200px)"
          />

          <source
            srcset="./img/img@1x-tablet.jpg 1x, ./img/img@2x-tablet.jpg 2x"
            media="(min-width: 768px)"
          /> -->
          <source
            srcset="./images/@1x-mob-7.jpg 1x, ./images/@2x-mob-7.jpg 2x"
            media="(min-width: 320px)"
          />
          <img src="./images/@1x-mob-7.jpg" alt="ice-cream-7" width="44" />
        </picture>
      </li>
      <li class="masonry__item">
        <picture>
          <!-- <source
            srcset="./img/img@1x-desctop.jpg 1x, ./img/img@2x-desctop.jpg 2x"
            media="(min-width: 1200px)"
          />

          <source
            srcset="./img/img@1x-tablet.jpg 1x, ./img/img@2x-tablet.jpg 2x"
            media="(min-width: 768px)"
          /> -->
          <source
            srcset="./images/@1x-mob-8.jpg 1x, ./images/@2x-mob-8.jpg 2x"
            media="(min-width: 320px)"
          />
          <img
            src="./images/@1x-mob-8.jpg"
            alt="ice-cream-8"
            width="44"
            class="top-image"
          />
        </picture>
        <picture>
          <!-- <source
            srcset="./img/img@1x-desctop.jpg 1x, ./img/img@2x-desctop.jpg 2x"
            media="(min-width: 1200px)"
          />

          <source
            srcset="./img/img@1x-tablet.jpg 1x, ./img/img@2x-tablet.jpg 2x"
            media="(min-width: 768px)"
          /> -->
          <source
            srcset="./images/@1x-mob-9.jpg 1x, ./images/@2x-mob-9.jpg 2x"
            media="(min-width: 320px)"
          />
          <img src="./images/@1x-mob-9.jpg" alt="ice-cream-9" width="44" />
        </picture>
      </li>
      <li class="masonry__item">
        <picture>
          <!-- <source
            srcset="./img/img@1x-desctop.jpg 1x, ./img/img@2x-desctop.jpg 2x"
            media="(min-width: 1200px)"
          />

          <source
            srcset="./img/img@1x-tablet.jpg 1x, ./img/img@2x-tablet.jpg 2x"
            media="(min-width: 768px)"
          /> -->
          <source
            srcset="./images/@1x-mob-10.jpg 1x, ./images/@2x-mob-10.jpg 2x"
            media="(min-width: 320px)"
          />
          <img src="./images/@1x-mob-10.jpg" alt="ice-cream-10" width="44" />
        </picture>
      </li>
    </ul>
  </div>
</section>
