<section class="gallery">
  <div class="container wrapper">
    <div class="grid">
      <div class="grid-item grid__item-1">
        <picture>
          <source
            srcset="
              ./images/gallery/gallery-desktop/@1x-gallery-desktop-1.png 1x,
              ./images/gallery/gallery-desktop/@2x-gallery-desktop-1.png 2x
            "
            media="(min-width: 1200px)"
          />

          <source
            srcset="
              ./images/gallery/gallery-tab/@1x-gallery-tab-1.png 1x,
              ./images/gallery/gallery-tab/@2x-gallery-tab-1.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/gallery/gallery-mob/@1x-gallery-mob-1.jpg 1x,
              ./images/gallery/gallery-mob/@2x-gallery-mob-1.jpg 2x
            "
            media="(min-width: 320px)"
          />
          <img
            src="./images/gallery/gallery-mob/@1x-gallery-mob-1.jpg"
            alt=""
          />
        </picture>
      </div>
      <div class="grid-item grid__item-2">
        <picture>
          <source
            srcset="
              ./images/gallery/gallery-desktop/@1x-gallery-desktop-2.png 1x,
              ./images/gallery/gallery-desktop/@2x-gallery-desktop-2.png 2x
            "
            media="(min-width: 1200px)"
          />

          <source
            srcset="
              ./images/gallery/gallery-tab/@1x-gallery-tab-2.png 1x,
              ./images/gallery/gallery-tab/@2x-gallery-tab-2.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/gallery/gallery-mob/@1x-gallery-mob-2.jpg 1x,
              ./images/gallery/gallery-mob/@2x-gallery-mob-2.jpg 2x
            "
            media="(min-width: 320px)"
          />
          <img
            src="./images/gallery/gallery-mob/@1x-gallery-mob-2.jpg"
            alt=""
          />
        </picture>
      </div>
      <div class="grid-item grid__item-3">
        <picture>
          <source
            srcset="
              ./images/gallery/gallery-desktop/@1x-gallery-desktop-3.png 1x,
              ./images/gallery/gallery-desktop/@2x-gallery-desktop-3.png 2x
            "
            media="(min-width: 1200px)"
          />

          <source
            srcset="
              ./images/gallery/gallery-tab/@1x-gallery-tab-3.png 1x,
              ./images/gallery/gallery-tab/@2x-gallery-tab-3.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/gallery/gallery-mob/@1x-gallery-mob-3.jpg 1x,
              ./images/gallery/gallery-mob/@2x-gallery-mob-3.jpg 2x
            "
            media="(min-width: 320px)"
          />
          <img
            src="./images/gallery/gallery-mob/@1x-gallery-mob-3.jpg"
            alt=""
          />
        </picture>
      </div>
      <div class="grid-item grid__item-4">
        <picture>
          <source
            srcset="
              ./images/gallery/gallery-desktop/@1x-gallery-desktop-4.png 1x,
              ./images/gallery/gallery-desktop/@2x-gallery-desktop-4.png 2x
            "
            media="(min-width: 1200px)"
          />

          <source
            srcset="
              ./images/gallery/gallery-tab/@1x-gallery-tab-4.png 1x,
              ./images/gallery/gallery-tab/@2x-gallery-tab-4.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/gallery/gallery-mob/@1x-gallery-mob-4.jpg 1x,
              ./images/gallery/gallery-mob/@2x-gallery-mob-4.jpg 2x
            "
            media="(min-width: 320px)"
          />
          <img
            src="./images/gallery/gallery-mob/@1x-gallery-mob-4.jpg"
            alt=""
          />
        </picture>
      </div>
      <div class="grid-item grid__item-5">
        <picture>
          <source
            srcset="
              ./images/gallery/gallery-desktop/@1x-gallery-desktop-5.png 1x,
              ./images/gallery/gallery-desktop/@2x-gallery-desktop-5.png 2x
            "
            media="(min-width: 1200px)"
          />

          <source
            srcset="
              ./images/gallery/gallery-tab/@1x-gallery-tab-5.png 1x,
              ./images/gallery/gallery-tab/@2x-gallery-tab-5.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/gallery/gallery-mob/@1x-gallery-mob-5.jpg 1x,
              ./images/gallery/gallery-mob/@2x-gallery-mob-5.jpg 2x
            "
            media="(min-width: 320px)"
          />
          <img
            src="./images/gallery/gallery-mob/@1x-gallery-mob-5.jpg"
            alt=""
          />
        </picture>
      </div>
      <div class="grid-item grid__item-6">
        <picture>
          <source
            srcset="
              ./images/gallery/gallery-desktop/@1x-gallery-desktop-6.png 1x,
              ./images/gallery/gallery-desktop/@2x-gallery-desktop-6.png 2x
            "
            media="(min-width: 1200px)"
          />

          <source
            srcset="
              ./images/gallery/gallery-tab/@1x-gallery-tab-6.png 1x,
              ./images/gallery/gallery-tab/@2x-gallery-tab-6.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/gallery/gallery-mob/@1x-gallery-mob-6.jpg 1x,
              ./images/gallery/gallery-mob/@2x-gallery-mob-6.jpg 2x
            "
            media="(min-width: 320px)"
          />
          <img
            src="./images/gallery/gallery-mob/@1x-gallery-mob-6.jpg"
            alt=""
          />
        </picture>
      </div>
      <div class="grid-item grid__item-7">
        <picture>
          <source
            srcset="
              ./images/gallery/gallery-desktop/@1x-gallery-desktop-7.png 1x,
              ./images/gallery/gallery-desktop/@2x-gallery-desktop-7.png 2x
            "
            media="(min-width: 1200px)"
          />

          <source
            srcset="
              ./images/gallery/gallery-tab/@1x-gallery-tab-7.png 1x,
              ./images/gallery/gallery-tab/@2x-gallery-tab-7.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/gallery/gallery-mob/@1x-gallery-mob-7.jpg 1x,
              ./images/gallery/gallery-mob/@2x-gallery-mob-7.jpg 2x
            "
            media="(min-width: 320px)"
          />
          <img
            src="./images/gallery/gallery-mob/@1x-gallery-mob-7.jpg"
            alt=""
          />
        </picture>
      </div>
      <div class="grid-item grid__item-8">
        <picture>
          <source
            srcset="
              ./images/gallery/gallery-desktop/@1x-gallery-desktop-8.png 1x,
              ./images/gallery/gallery-desktop/@2x-gallery-desktop-8.png 2x
            "
            media="(min-width: 1200px)"
          />

          <source
            srcset="
              ./images/gallery/gallery-tab/@1x-gallery-tab-8.png 1x,
              ./images/gallery/gallery-tab/@2x-gallery-tab-8.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/gallery/gallery-mob/@1x-gallery-mob-8.jpg 1x,
              ./images/gallery/gallery-mob/@2x-gallery-mob-8.jpg 2x
            "
            media="(min-width: 320px)"
          />
          <img
            src="./images/gallery/gallery-mob/@1x-gallery-mob-8.jpg"
            alt=""
          />
        </picture>
      </div>
      <div class="grid-item grid__item-9">
        <picture>
          <source
            srcset="
              ./images/gallery/gallery-desktop/@1x-gallery-desktop-9.png 1x,
              ./images/gallery/gallery-desktop/@2x-gallery-desktop-9.png 2x
            "
            media="(min-width: 1200px)"
          />

          <source
            srcset="
              ./images/gallery/gallery-tab/@1x-gallery-tab-9.png 1x,
              ./images/gallery/gallery-tab/@2x-gallery-tab-9.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/gallery/gallery-mob/@1x-gallery-mob-9.jpg 1x,
              ./images/gallery/gallery-mob/@2x-gallery-mob-9.jpg 2x
            "
            media="(min-width: 320px)"
          />
          <img
            src="./images/gallery/gallery-mob/@1x-gallery-mob-9.jpg"
            alt=""
          />
        </picture>
      </div>
      <div class="grid-item grid__item-10">
        <picture>
          <source
            srcset="
              ./images/gallery/gallery-desktop/@1x-gallery-desktop-10.png 1x,
              ./images/gallery/gallery-desktop/@2x-gallery-desktop-10.png 2x
            "
            media="(min-width: 1200px)"
          />

          <source
            srcset="
              ./images/gallery/gallery-tab/@1x-gallery-tab-10.png 1x,
              ./images/gallery/gallery-tab/@2x-gallery-tab-10.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/gallery/gallery-mob/@1x-gallery-mob-10.jpg 1x,
              ./images/gallery/gallery-mob/@2x-gallery-mob-10.jpg 2x
            "
            media="(min-width: 320px)"
          />
          <img
            src="./images/gallery/gallery-mob/@1x-gallery-mob-10.jpg"
            alt=""
          />
        </picture>
      </div>
    </div>
  </div>
</section>
