<header class="header">
  <div class="container wrap-nav">

      <svg class="logo">
        <use href="./images/full-logo.svg#icon-logo-icon" width="199" height="50"></use>
      </svg> 

    <nav class="nav">
      <ul class="site-nav list">
        <li class="site-nav__item">
          <a href="#section" class="site-nav__link current link">Home</a>
        </li>
        <li class="site-nav__item">
          <a href="#section" class="site-nav__link link">About us</a>
        </li>
        <li class="site-nav__item">
          <a href="#advantages" class="site-nav__link link">How it's made?</a>
        </li>
        <li class="site-nav__item">
          <a href="#section" class="site-nav__link link">Our products</a>
        </li>
        <li class="site-nav__item">
          <a href="#section" class="site-nav__link link">Contact</a>
        </li>
      </ul>
      
      <button type="button" class="menu-btn">
        <svg class="icon-menu" width="20" height="12">
          <use href="./images/icons.svg#icon-menu-btn"></use>
        </svg>
      </button>
    </nav>
    <a href="#section" class="order-link">Buy now</a>
      
</header>
