<section class="hero" id="hero">
  <div class="container">
    <div class="hero__text-btns">
      <h1 class="hero__title">
        ice cream <br />made with <br /><span class="accent-logo">passion</span>
      </h1>
      <ul class="hero-button">
        <li class="hero-button__item">
          <a href="#products_section" class="hero-button__link"
            ><button type="button" class="hero__btn hero__btn--products">
              Products
            </button></a
          >
        </li>
        <li class="hero-button__item">
          <a href="#about_section" class="hero-button__link"
            ><button type="button" class="hero__btn">How it’s made?</button></a
          >
        </li>
      </ul>
    </div>

    <div class="hero-container">
      <div class="hero-circle">
        <picture class="hero-circle__ice-cream">
          <source
            srcset="
              ./images/hero/ice-cream/ice-cream_desktop.png    1x,
              ./images/hero/ice-cream/ice-cream_desktop@2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <source
            srcset="
              ./images/hero/ice-cream/ice-cream_tablet.png    1x,
              ./images/hero/ice-cream/ice-cream_tablet@2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/hero/ice-cream/ice-cream_mobile.png    1x,
              ./images/hero/ice-cream/ice-cream_mobile@2x.png 2x
            "
            media="(min-width: 320px)"
          />
          <img
            src="./images/hero/ice-cream/ice-cream_mobile.png"
            alt="ice-cream"
            width="171"
          />
        </picture>
      </div>
      <picture class="hero-circle__milk">
        <source
          srcset="
            ./images/hero/milk/milk_desktop.png    1x,
            ./images/hero/milk/milk_desktop@2x.png 2x
          "
          media="(min-width: 1200px)"
        />
        <source
          srcset="
            ./images/hero/milk/milk_tablet.png    1x,
            ./images/hero/milk/milk_tablet@2x.png 2x
          "
          media="(min-width: 768px)"
        />
        <img src="./images/hero/milk/milk_tablet.png" alt="milk" width="152" />
      </picture>

      <picture class="hero-circle__tasty">
        <source
          srcset="
            ./images/hero/tasty/tasty_desktop.png    1x,
            ./images/hero/tasty/tasty_desktop@2x.png 2x
          "
          media="(min-width: 1200px)"
        />
        <source
          srcset="
            ./images/hero/tasty/tasty_tablet.png    1x,
            ./images/hero/tasty/tasty_tablet@2x.png 2x
          "
          media="(min-width: 768px)"
        />
        <img
          src="./images/hero/tasty/tasty_tablet.png"
          alt="tasty"
          width="190"
        />
      </picture>
    </div>
  </div>
</section>
