<div class="mob-menu-wrap is-hidden">
  <div class="container">
    <button type="button" class="mob-menu-close-btn">
      <svg class="icon-close" width="14" height="14">
        <use href="./images/icons.svg#icon-close-menu-btn"></use>
      </svg>
    </button>

    <a href="" class="mob-menu__link link">Buy now</a>
    <ul class="mob-menu__list list">
      <li class="mob-menu__list-item">
        <a href="#" class="site-nav__link link current">Home</a>
      </li>
      <li class="mob-menu__list-item">
        <a href="#" class="site-nav__link link">About us</a>
      </li>
      <li class="mob-menu__list-item">
        <a href="#" class="site-nav__link link">How it's made?</a>
      </li>
      <li class="mob-menu__list-item">
        <a href="#" class="site-nav__link link">Our products</a>
      </li>
      <li class="mob-menu__list-item">
        <a href="#" class="site-nav__link link">Contact</a>
      </li>
    </ul>
  </div>
</div>
