<div class="backdrop no-shown">
  <div class="modal-order">
    <button type="button" class="modal-order__close-btn modal-close">
      <svg class="modal-icon-close" width="18" height="18">
        <use href="/src/images/icon.svg#icon-close-modal-btn"></use>
      </svg>
    </button>
    <svg class="modal-order__logo-svg" width="132" height="33">
      <use href="/src/images/icon.svg#icon-logo"></use>
      <h2 class="modal-order__title">buy now!</h2>
      <p class="modal-text">
        Dear friend if you are in Chicago, Los-Angeles or New York you can buy
        our delicious ice cream right now. Fill out the form below and our ice
        cream man will bring some balls of happiness directly to your home
      </p>
    </svg>
  </div>
</div>
