<section class="products section">
  <div class="container">
    <p class="products-pre-title" lang="en">100% natural</p>
    <h2 class="products__head" lang="en">products</h2>
    <ul class="products__list">
      <li class="products__item">
        <div class="products__card products__icon-ice-cream">
          <h3 class="products__title" lang="en">ice cream</h3>
          <p class="products__description" lang="en">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et. dolore magna aliqua
            facilisis.
          </p>
          <button class="products__btn" type="button">
            <!-- <svg class="icon-arrow-right">
              <use href="./images/arrow-right.svg"></use>
            </svg> -->
          </button>
        </div>
      </li>

      <li class="products__item">
        <div class="products__card products__icon-ice-coffee">
          <h3 class="products__title">ice coffee</h3>
          <p class="products__description" lang="en">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et. dolore magna aliqua
            facilisis.
          </p>
          <button class="products__btn" type="button">
            <!-- <svg class="icon-arrow-right">
              <use href="./images/arrow-right.svg"></use>
            </svg> -->
          </button>
        </div>
      </li>
      <li class="products__item">
        <div class="products__card products__icon-milkshakes">
          <h3 class="products__title">milkshakes</h3>
          <p class="products__description" lang="en">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et. dolore magna aliqua
            facilisis.
          </p>
          <button class="products__btn" type="button">
            <!-- <svg class="icon-arrow-right">
              <use href="./images/arrow-right.svg"></use>
            </svg> -->
          </button>
        </div>
      </li>
    </ul>
  </div>
</section>
